*.class
*.DS_Store

/bin/*
/conf/*
/docs/*
/forge/*
/jars/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
/lib/*
/eclipse/*

/src/minecraft/*
!/src/minecraft/dries007/
!/src/minecraft/mcmod.info
!/src/minecraft/SimpleBackup.png

*.bat
*.sh
*.db
CHANGELOG
modlist.txt
LICENSE.txt